.sitemap-container{
  background-color: #d3edf7;
  font-family: Georgia, serif;

}

.header-3d-model{
  width: 100%;
  height: 200px;
}

.sitemap-info{
  padding-top: 40px;
  margin-bottom: 40px;
}

.title-text {
  color: #1681e6;
  font-size: 3rem;
  margin-bottom: 40px;
  text-align: center;
  font-family: Georgia, serif;
}

.subtitle-text {
  color: #8a78cc;
  font-size: 2.5rem;
  margin-bottom: 40px;
  text-align: center;
  font-family: Georgia, serif;
}

.content-text {
  color: #34495e;
  font-size: 1.8rem;
  margin-top: 30px;
  margin-bottom: 10px;
}

.selection-temes{
  margin-top: 30px;
  margin-bottom: 30px;
}

footer {
  margin-top: 20px;
  font-size: 0.9rem;
  color: #7f8c8d;
  text-align: center;
}

ul {
  list-style-type: none;
}

ul li {
  margin: 10px 0;
}

ul li a {
  text-decoration: none;
  color: #2c3e50;
}

ul li a:hover {
  text-decoration: underline;
}

li {
  margin: 10px 0;
}

a {
  color: #3498db;
  text-decoration: none;
  font-size: 1.1rem;
  transition: color 0.3s;
}

a:hover {
  text-decoration: underline;
  color: #2980b9;
}


