.sitemap-container {
  font-family: Georgia, serif;
  position: relative;
  padding: 10px;
  max-width: 80%;
  margin: 0 auto;
  background-color: #d3edf7;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  height: 100vh; /* Ocupa toda la altura de la ventana */
  width: 100%;
}

h1 {
  color: #2c3e50;
  font-size: 2.5rem;
  margin-bottom: 40px;
  text-align: center;
  font-family: Georgia, serif;
}

h2 {
  color: #34495e;
  font-size: 1.8rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

a {
  color: #3498db;
  text-decoration: none;
  font-size: 1.1rem;
  transition: color 0.3s;
}

a:hover {
  text-decoration: underline;
  color: #2980b9;
}

footer {
  margin-top: 20px;
  font-size: 0.9rem;
  color: #7f8c8d;
  text-align: center;
}

/* Modelo 3D y contenido en columnas */
.sitemap-container {
  display: flex; /* Divide la página en dos columnas */
  height: 100vh;
}

.model-background {
  flex: 1; /* 50% de la página para el canvas */
  background-color: #d3edf7;
  position: relative; /* Para permitir posicionamiento dentro del canvas */
}

.content {
  flex: 1; /* 50% de la página para el contenido */
  z-index: 1;
  padding: 20px;
  background-color: #0b9ad37a; /* Fondo opaco */
  border-radius: 10px;
  overflow-y: auto;
}

h1, h2 {
  color: #333;
}

