   
.ButtonA {
     z-index: -1;
     background-color: #8a78cc;
     font-size: 16px;
     border: none;
     color: rgb(255, 255, 255);
     padding: 15px 32px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
}

 .instructions {
     z-index: -1;
     background-color: #8a78cc;
     font-size: 16px;
     border: none;
     color: rgb(255, 255, 255);
     padding: 15px 25px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
 }

 .instructions:hover{
     color: rgb(0, 4, 251);
     background-color: transparent;
}
   
.ButtonA:hover {
     color:  rgb(0, 4, 251);
     background-color: transparent;
}