.container-slider{
     width: 100%;
     height: 100vh;
     position: absolute;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 
 .container-slider.close{
      display: none;
 }
 
 .close-button {
      position: absolute;
      top: 20px;
      right: 20px;
      background: transparent;
      border: none;
      cursor: pointer;
      color: white;
      z-index: 100;
      padding: 0;
      margin: 0;
      svg{
           width: 30px;
           height: 30px;
      }
 }
 
 .close-button:hover{
      color: rgb(29, 210, 234);
      background-color: transparent;
 }
 
 
 .card-slider {
   width: 1200px;
   height: 700px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 20px;
   align-items: center;
   background: #6bb8e241;
 }
 
 .title {
      font-family: Georgia, serif;
      color: rgb(255, 255, 255);
      font-size: 50px;
      font-weight: 600;
      margin-top: 40px;
 }
 
 .content {
      font-family: Georgia, serif;
      font-size: 30px;
      color: rgb(246, 244, 244);
      text-align: center;
      padding: 0rem 2rem;
      margin-bottom: 30px;
 }
 
 .image {
      margin-top: 10px;
      margin-bottom: 100px;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      justify-content: center;
 }
 .redirect-button {
     background-color: #8a78cc;
     color: white;
     border: none;
     padding: 10px 15px;
     border-radius: 5px;
     cursor: pointer;
     font-size: 1rem;
     margin-top: 20px;
   }
   
   .redirect-button:hover {
     background-color: #8a78cc;
   }
   