.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  padding: 10px;
  margin-right: 300px;
}

.card {
  position: relative;
  width: 600px;
  height: 500px;
  margin-right: 100%;
  margin-left: 250px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  background-color: #77dcfb; 
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.imageContainer {
  width: 500px;
  height: 500px; 
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a3e4f8; 
  border-radius: 10px; 
  overflow: hidden; 
}

h3 {
  text-align: center;
  margin-top: 10px;
  font-size: 1.2rem;
  color: #333;
}
