.grid {
  display: grid; 
  place-self: center;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas de igual tamaño */
  grid-template-rows: auto auto; /* Dos filas automáticamente ajustadas */
  gap: 20px;
}

.card {
  position: relative;
  /* margin: 150px */
  width: 400px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  background-color: #77dcfb; 
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.imageContainer {
  /* width: 500px; */
  height: 300px; 
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a3e4f8; 
  border-radius: 10px; 
  overflow: hidden; 
  img{
    width: 100%;
    object-fit: contain;
  }
}

h3 {
  text-align: center;
  margin-top: 15px;
  font-size: 1.2rem;
  color: #333;
}
