.tittle-text{
    color: black;
    font-size: larger;
}
.ButtonA {
    background-color: #8a78cc;
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
.BM{
    background-color: #8a78cc;
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
