html,
body,
#root {
  user-select: none;
}

body{
  
  height: 100%;
}

button {
  padding: 15px 40px;
  font-size: 20px;
  font-family: Georgia, serif;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 100px;
  margin-top: 30px;
  margin-left: 20px;
  
}

button:hover {
  background-color: #0056b3;
}
